body {
  align-items: center;
  background-image: url(../img/bg-tablet-pattern.svg),
    url(../img/bg-tablet-pattern.svg);
  background-position-x: 70px, 245px;
  background-position-y: -90px, 515px;
  background-repeat: no-repeat, no-repeat;
  background-size: 420px, 300px;
  display: flex;
  flex-direction: column;
  font-family: "Be Vietnam";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.main-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 85%;
}

.main-header .logo {
  width: 110px;
}

.main-header .nav-bar {
  display: none;
}

.main-header .get-started-button {
  display: none;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 90%;
}

.hero .illustration-intro {
  width: 100%;
  transition: all 0.5s;
}

.hero h1 {
  color: #232c50;
  font-weight: 700;
  font-size: 40px;
  margin: 15px 0 0 0;
  text-align: center;
}

.hero p {
  color: #b3b2b7;
  line-height: 180%;
  margin: 10px 0px 30px 0px;
  text-align: center;
  width: 90%;
}

.hero .left-hero {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.get-started-button {
  align-items: center;
  background-color: #f25f3a;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
  color: #ffffff;
  display: flex;
  font-size: 13.18px;
  font-weight: 500;
  height: 44px;
  justify-content: center;
  text-decoration: none;
  width: 134px;
  transition: all 0.5s;
}

.features {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.features .about-manage {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.features .about-manage h2 {
  color: #232851;
  font-size: 30px;
  font-weight: 900;
  line-height: 150%;
  margin-bottom: 0px;
  text-align: center;
  width: 70%;
}

.features .about-manage p {
  color: #b3b2b7;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  width: 80%;
}

.features-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.features-list article {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.features-list article div {
  align-items: center;
  background-color: rgb(255, 239, 234);
  display: flex;
  margin-left: 25px;
  position: relative;
}

.features-list article div span {
  align-items: center;
  background-color: #f25f3a;
  border-radius: 30px;
  color: #ffffff;
  display: flex;
  font-weight: 700;
  height: 43px;
  justify-content: center;
  left: -12px;
  position: relative;
  width: 69px;
}

.features-list article div h3 {
  color: rgb(50, 56, 81);
  font-size: 16px;
  font-weight: 900;
  margin: 0px;
}

.features-list article p {
  align-self: center;
  color: #b3b2b7;
  font-size: 14px;
  line-height: 200%;
  width: 90%;
}

.opinions {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.opinions h2 {
  color: #242e53;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 100px;
}

.opinions .articles {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.opinions div .card {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  position: relative;
  transition: all 0.5s;
  width: 90%;
}

.opinions div .card img {
  position: relative;
  top: -35px;
  width: 70px;
}

.opinions div .card h3 {
  color: #3f4868;
  font-size: 16px;
  font-weight: 900;
  margin: 0;
  position: relative;
  top: -12px;
}

.opinions div .card p {
  color: #b9b9c1;
  font-size: 14px;
  font-weight: 600;
  line-height: 180%;
  text-align: center;
  width: 88%;
}

.opinions div .card-1,
.opinions div .card-3 {
  display: none;
}

.opinions .circles {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin: 15px 0 45px 0;
}

.opinions .circles .fa-circle {
  color: #ffffff;
  font-size: 7px;
  -webkit-text-stroke: 1.5px #f25f3a;
}

.opinions .circles div .circle2 {
  color: #f25f3a;
}

.get-started-banner {
  align-items: center;
  background-color: #f3613c;
  background-image: url(../img/bg-simplify-section-mobile.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 22.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  padding: 80px 0;
}

.get-started-banner h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  width: 90%;
  animation: Simplify-section 2s infinite alternate;
}

.get-started-banner .get-started-button {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  color: #f3603b;
  font-weight: 700;
}

.main-footer {
  align-items: center;
  background-color: #1e1e26;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;
}

.main-footer form {
  display: flex;
  position: relative;
}

.main-footer form input {
  background-color: #ffffff;
  border: 0;
  border-radius: 50px;
  color: #f3603b;
  font-weight: 500;
  height: 44px;
  padding: 0 0 0 15px;
  width: 235px;
}

.main-footer form input::placeholder {
  align-self: center;
  color: #a0a0a0;
  font-size: 13.1806px;
  font-weight: 600;
  padding-left: 10px;
  position: relative;
  top: -2px;
}

.main-footer form button {
  background-color: #f3603b;
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 13.1806px;
  font-weight: 500;
  height: 44px;
  margin-left: 9px;
  padding: 0;
  width: 80px;
  transition: all 0.5s;
}

.main-footer .footer-nav-bar {
  display: flex;
  gap: 90px;
  margin-top: 50px;
}

.main-footer .footer-nav-bar ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0;
  padding: 0;
}

.main-footer .footer-nav-bar li {
  font-size: 14px;
  list-style-type: none;
}

.main-footer .footer-nav-bar li :any-link {
  color: #ffffff;
  text-decoration: none;
}

.social-networks-nav-and-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.social-networks-nav {
  display: flex;
  gap: 35px;
  justify-content: center;
  margin-top: 50px;
}

.social-networks-nav img {
  width: 33px;
  transition: all 0.3s;
}

.social-networks-nav-and-logo .footer-logo {
  margin-top: 50px;
}

.main-footer span {
  color: #8c8c94;
  font-size: 12.5px;
  font-weight: 500;
  margin: 50px 0 30px 0;
}

/* Focus Functions */

.main-footer form input:focus {
    outline: none;
}

/* Hover Functions */

.hero .illustration-intro:hover {
  transform: scale(1.05);
}

.main-header .nav-bar ul li :hover {
  color: rgb(143, 148, 167);
}

.opinions div .card:hover {
  transform: scale(1.08)
}

.get-started-button:hover {
  background-color: #ec8c74;
  transform: scale(1.10)
}

.get-started-banner .get-started-button:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 0px;
  color: #e2a899;
  font-weight: 700;
}

.social-networks-nav a img:hover {
  filter: invert(47%) sepia(21%) saturate(6013%) hue-rotate(2deg)
    brightness(98%) contrast(98%);
    transform: scale(1.5)
}

.main-footer .footer-nav-bar li :hover {
  color: #f36b03;
}

.main-footer form button:hover {
  background-color: #ec8c74;
  transform: scale(1.2);
}

/* Keyframes functions */

@keyframes Simplify-section {
  0% {transform: translateX(-15px)}
  100% {transform: translateX(15px)}
}

/* Invalid email format message */

.error-email-message {
  color: #f3603b;
  display: none;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  left: 15px;
  position: absolute;
  top: 55px;
}

.main-footer form input:invalid + .error-email-message {
  display: block;
}

.main-footer form input:invalid {
border: 2px solid #f3603b ;
}

/* Desktop styles */

@media (min-width: 769px) {
  body {
    background-position-x: 770px, -500px;
    background-position-y: -170px, 1150px;
    background-repeat: no-repeat, no-repeat;
    background-size: 850px, 850px;
  }

  .main-header {
    margin-top: 75px;
    width: 77%;
  }

  .main-header .logo {
    width: 145.45px;
  }

  .main-header .nav-bar {
    display: block;
  }

  .main-header .nav-bar ul {
    color: #242e52;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    gap: 28px;
    list-style-type: none;
  }

  .main-header .get-started-button {
    display: flex;
  }

  .nav-bar :any-link {
    color: #242e52;
    text-decoration: none;
  }

  .icon-hamburger {
    display: none;
  }

  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 77%;
  }

  .hero .illustration-intro {
    margin-top: 50px;
    position: relative;
    right: -20px;
    width: 580px;
  }

  .hero .left-hero {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .hero h1 {
    font-size: 58px;
    text-align: left;
  }

  .hero p {
    color: #000000;
    font-size: 16.56px;
    font-weight: 500;
    margin-top: 28px;
    text-align: left;
    width: 68%;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .features {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 77%;
  }

  .features .about-manage {
    align-items: flex-start;
  }

  .features .about-manage h2 {
    font-size: 36px;
    line-height: 41px;
    text-align: left;
  }

  .features .about-manage p {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24.18px;
    margin-top: 36px;
    text-align: left;
    width: 50%;
  }

  .features-list {
    width: 68%;
  }

  .features-list article div {
    background-color: unset;
    left: -86px;
    position: relative;
  }

  .features-list article div span {
    left: -23px;
  }

  .features-list article div h3 {
    color: #323851;
  }

  .features-list article p {
    font-size: 16px;
    line-height: 25.52px;
    margin-top: 10px;
    width: 96%;
  }

  .opinions {
    margin-top: 62px;
    width: 90%;
  }

  .opinions h2 {
    font-size: 39.21px;
    margin-bottom: 109px;
  }

  .opinions .articles {
    flex-direction: row;
  }

  .opinions div .card {
    box-sizing: border-box;
    display: flex;
    height: 219px;
    width: 100%;
  }

  .opinions div .card h3 {
    font-weight: 700;
  }

  .opinions div .card p {
    font-size: 16px;
    line-height: 156.6%;
    width: 94%;
  }

  .opinions div .card-2 p {
    width: 90%;
  }

  .opinions div .card-3 p {
    width: 93%;
  }

  .opinions .circles {
    display: none;
  }

  .opinions .get-started-button {
    margin-top: 45px;
  }

  .get-started-banner {
    background-image: url(../img/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 260px;
    background-size: 100%;
    box-sizing: border-box;
    flex-direction: row;
    font-size: 40px;
    height: 224px;
    justify-content: space-between;
    margin-top: 180px;
    padding: 64px 0;
    width: 100%;
  }

  .get-started-banner h2 {
    font-weight: 700;
    margin-left: 165px;
    text-align: left;
    width: 35%;
  }

  .get-started-banner a {
    margin-right: 165px;
  }

  .main-footer {
    align-items: center;
    box-sizing: border-box;
    flex-direction: row-reverse;
    height: 247px;
    justify-content: space-between;
    padding: 0px 165px;
    position: relative;
  }

  .main-footer .social-networks-nav-and-logo {
    flex-direction: column-reverse;
    gap: 64.24px;
  }

  .social-networks-nav {
    gap: 13.33px;
    margin-top: 0;
  }

  .social-networks-nav img {
    width: 20px;
  }

  .main-footer .footer-nav-bar {
    gap: 220px;
    margin-top: 0;
  }

  .main-footer .footer-logo {
    margin-top: 0;
  }

  .main-footer form {
    align-self: flex-start;
    margin-top: 56.29px;
  }

  .main-footer form input {
    width: 201px;
  }

  .main-footer form button {
    width: 63px;
  }

  .main-footer nav li {
    font-size: 16px;
  }

  .main-footer span {
    bottom: 20px;
    position: absolute;
  }
}
